body { background: #7c558a; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 31px; display: flex; }
.block-invoice-0 { color: #4bed28; font-size: 20px; margin-bottom: 5px; }
.block-product-1 { color: #578514; font-size: 15px; margin-bottom: 5px; }
.block-database-2 { color: #d317f9; font-size: 21px; margin-bottom: 5px; }
.block-helper-3 { color: #f17e7c; font-size: 20px; margin-bottom: 5px; }
.block-filter-4 { color: #f6e604; font-size: 20px; margin-bottom: 5px; }
.block-session-5 { color: #52f821; font-size: 13px; margin-bottom: 5px; }
.block-config-6 { color: #c88e3b; font-size: 12px; margin-bottom: 5px; }
.block-config-7 { color: #43195b; font-size: 20px; margin-bottom: 5px; }
.block-metrics-8 { color: #636467; font-size: 12px; margin-bottom: 5px; }
.block-helper-9 { color: #b9016d; font-size: 17px; margin-bottom: 5px; }
.block-sms-10 { color: #30124e; font-size: 12px; margin-bottom: 5px; }
.block-logger-11 { color: #709033; font-size: 15px; margin-bottom: 5px; }